<div class="start_page">
    <%= link_to "Google", user_google_oauth2_omniauth_authorize_path, class: "btn btn-danger navbar-btn btn-lg" %>
    <%= link_to "Facebook", user_facebook_omniauth_authorize_path, class: "btn btn-primary navbar-btn btn-lg" %>
</div>



